<link rel="stylesheet" type="text/css" href="\stylesheets\custom.css">
<div class="card">

  <div class="card-header">
    You are the Captain of your Team.
  </div>

  <div class="card-body">

        <form action="rebuy" method="post">
          <div class="form-group">
              <input type="hidden" name="myTeamCode" value="<%= playerTeamCode %>">
              <input type="hidden" name="myPlayerCode" value="<%= playerCode %>">
              <input type="submit" class="btn btn-info" value="Rebuy"/>
          </div>
        </form>

        <% 	switch(teamStatus)
  					{
  						  case "Live": case "Waiting":
  										%>

                          <form action="takeBreak" method="post">
                            <div class="form-group">
                                <input type="hidden" name="myPlayerCode" value="<%= playerCode %>">
                                <input type="hidden" name="myTeamCode" value="<%= playerTeamCode %>">
                                <input type="submit" class="btn btn-info" value="Take a Break"/>
                            </div>
                          </form>

  										<%
  										break;

  							case "Break":
  										%>

                          <form action="returnFromBreak" method="post">
                            <div class="form-group">
                                <input type="hidden" name="myTeamCode" value="<%= playerTeamCode %>">
                                <input type="submit" class="btn btn-info" value="Return From Break"/>
                            </div>
                          </form>

  										<%
  										break;


  							default:
  						    // code block
  					}

  			%>

  </div>

</div>
<br>
<div class="card">

  <div class="card-header">
    Add or Remove Players
  </div>

  <div class="card-body">


        <% if (numTeammates > 0)	{%>
              <%-  include('teammateList'); %>
              <br>
              <form action="removePlayerFromTeam" method="post">

                  <div class="form-group">
                      <label>Enter 8-digit Player Code to Remove:</label>
                      <input type="text" size="12" name="removePlayerCode" autocomplete="off">
                  </div>

                  <div class="form-group">
                    <input type="hidden" name="myPlayerCode" value="<%= playerCode %>">
                    <input type="hidden" name="myTeamCode" value="<%= playerTeamCode %>">
                  </div>

                  <div class="form-group">
                      <input type="submit" class="btn btn-info" value="Remove Player"/>
                  </div>
              </form>

        <% } %>


        <form action="addPlayer" method="post">

          <div class="form-group">
              <label>Enter 8-digit Player Code to Add:</label>
              <input type="text" size="12" name="enteredPlayerCode" autocomplete="off">
          </div>

          <div class="form-group">
              <input type="hidden" name="myTeamCode" value="<%= playerTeamCode %>">
              <input type="hidden" name="myPlayerCode" value="<%= playerCode %>">
          </div>

          <div class="form-group">
              <input type="submit" class="btn btn-info" value="Add Player"/>
          </div>

      </form>

    </div>

</div>
<br>
