<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Assassin</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="\stylesheets\custom.css">
	<script src="javascripts/utilities.js"></script>
</head>

<body class="container" style="margin-top: 10px;" onload="defaultCursor();">

		<% if (messages.error) { %>
		<div class="alert alert-danger" role="alert"><%- messages.error %></div>
		<% } %>

		<div class="card" style="width:21rem;">

		  <div class="card-header">
				<div style="height: 3px;"></div>
				<h5>Welcome to Assassin <%= playerName %>!</h5>
		  </div>

		  <div class="card-body">

					<% 	switch(teamStatus)
					{
							case "0":
									%><div style="height: 2px;"></div>
											You must either join or create a Team to play Assassin.
											<div style="height: 11px;"></div>
											<%- include('joinTeamFeatures'); %>
											-OR-
											<div style="height: 12px;"></div>
											<%- include('createTeamFeatures'); %>
									<%
									break;

						  case "Live":
										%>
														<%- include('liveTeamFeatures'); %>
										<%
										break;

							case "Waiting":
										%>

												Your team status is Waiting.<br>Your individual status is <%= playerStatus %>.<br>Your team will enter the game on the next major event.<br>

										<%
										break;

							case "Inactive":
										%>

												Your team status is Inactive.<br>Your individual status is <%= playerStatus %>.<br>
										<%
										break;

							case "Break":
										%>

												Your team status is On Break.<br>Your individual status is <%= playerStatus %>.<br>
										<%
										break;

							case "Registered":
										%>

												Your team status is Registered.<br>Your individual status is <%= playerStatus %>.<br>Your Team will move to Waiting when your pictures are approved and you have paid.<br>
										<%
										break;

							case "Pics Approved":
										%>

												Your team status is Pictures Approved.<br>Your individual status is <%= playerStatus %>.<br>Your Team will move to Waiting when you have paid.<br>
										<%
										break;

							case "Paid":
										%>

												Your team status is Paid.<br>Your individual status is <%= playerStatus %>.<br>Your Team will move to Waiting when your pictures have been approved.<br>
										<%
										break;

							case "Quit":
										%>

												Your team status is Quit.<br>Your individual status is <%= playerStatus %>.  You can register as a new Team.<br>
										<%
										break;

							default:
						    // code block
					}

					%>

				</div>

		</div>

		<div style="height: 2px;"></div>

		<% if (captainFlag == 1) { %>
				<%- include('captainFeatures'); %>
		<%}
		else
		{%>
				<% if (numTeammates > 0) { %>

						<div class="card" style="width:21rem;">

							<div class="card-header">
								Teammate Details
							</div>

							<div class="card-body">

									<%-  include('teammateList'); %>
									<br>

									<%
										if (playerStatus == "Bench")
										{%>
												<%- include('benchFeatures'); %>
										<%}%>

							</div>

					</div>

				<%}%>

		<%}%>

<div style="height: 17px;"></div>

<div class="card" style="width:21rem;">

  <div class="card-header">
    Your Player Data
		<div style="height: 4px;"></div>
  </div>

  <div class="card-body">

			<div style="height: 5px;"></div>

			Player Code:  <%= playerCode %>
			<div style="height: 9px;"></div>

			Email:  <%= playerEmail %>
			<div style="height: 9px;"></div>

			Phone:  <%= playerPhone %>
			<div style="height: 9px;"></div>

			My Last Shift:  <%= myLastShiftTimeStamp %>
			<div style="height: 9px;"></div>

			Your Team Name:  <%= playerTeamName %>
			<div style="height: 9px;"></div>

			Team Code:  <%= playerTeamCode %>
			<div style="height: 9px;"></div>

			Team Bounties Owed:  <%= teamBountiesOwed %>
			<div style="height: 9px;"></div>

			Total Team Bounties Earned:  <%= totalTeamBountiesEarned %>
			<div style="height: 9px;"></div>

			Your Photo Status:  <%= playerPicStatus %>
			<div style="height: 12px;"></div>

			<% 	if ((playerPicStatus == "Approved") || (playerPicStatus == "Uploaded")) { %>

				<form action="managePicture" method="post">
							<input type="hidden" name="myPlayerCode" value="<%= playerCode %>">
							<input type="hidden" name="playerPic" value="<%= playerPic %>">
							<input type="hidden" name="picFeature" value="View">
							<input type="submit" class="btn btn-info" value="View My Picture"/>
							<div style="height: 15px;"></div>
				</form>

			<% } else {  // rejected pic %>

				<form action="managePicture" method="post">
							<input type="hidden" name="myPlayerCode" value="<%= playerCode %>">
							<input type="hidden" name="playerPic" value="<%= playerPic %>">
							<input type="hidden" name="picFeature" value="Edit">
							<input type="submit" class="btn btn-info" value="Upload New Picture"/>
							<div style="height: 15px;"></div>
				</form>

			<%}%>

			<% 	if ((playerPhone == "") || (playerPhone == null)) { %>

				<form action="addPlayerPhoneNumber" method="post">
							<input type="hidden" name="myPlayerCode" value="<%= playerCode %>">
							<input type="submit" class="btn btn-info" value="Add Phone Number"/>
							<div style="height: 15px;"></div>
				</form>

			<% } else {%>

				<form action="editPlayerPhoneNumber" method="post">
							<input type="hidden" name="myPlayerCode" value="<%= playerCode %>">
							<input type="hidden" name="myPhoneNumber" value="<%= playerPhone %>">
							<input type="submit" class="btn btn-info" value="Edit Phone Number"/>
							<div style="height: 15px;"></div>
				</form>

				<form action="removePlayerPhoneNumber" onsubmit="return confirmChoice(<%= CONFIRM_REMOVE_PHONE %>)" method="post">
							<input type="hidden" name="myPlayerCode" value="<%= playerCode %>">
							<input type="submit" class="btn btn-info" value="Remove Phone Number"/>
							<div style="height: 15px;"></div>
				</form>

			<%}%>

			<%- include('quitFeatures'); %>

			<form action="assassinLogout" method="post">
						<input type="submit" class="btn btn-info" value="Logout"/>
			</form>

			<div style="height: 8px;"></div>

		</div>

	</div>

	<div style="height: 22px;"></div>

	<%- include('gameStatistics'); %>

	<div style="height: 15px;"></div>

	<%- include('adminFeatures'); %>

</body>
</html>
